<%- include('../partials/header') %>
<%- include('../partials/navbar') %>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-10">
                <table class="table table-hover table-striped text-center">
                    <thead>
                        <th>Post</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </thead>
                    <tbody>
                        <% board.forEach( b => {  %>
                            <tr>
                                <td><a href="/boards/<%= b._id %>/board" rel="noopener noreferrer" style="text-decoration: none;"><%= b.title %></a></td>
                                <td><a href="/boards/<%= b._id %>/edit" class="btn" style="background-color:#FDEEC0!important;">Edit</a></td>
                                <td><form action="/boards/delete" method="POST"><button type="submit" name="delete" class="btn btn-danger" value="<%= b._id %>">Delete</button></form></td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<%- include('../partials/footer') %>