<%- include('../partials/header') %>
<%- include('../partials/navbar') %>
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <table class="table table-dark playlists text-center">
                    <thead>
                        <th><h4>Playlists</h4></th>
                    </thead>
                    <tbody>
                        <% if(user){ %>
                        <% playlists.forEach( p => { %>
                            <tr>
                                <td><a href="/boards/<%= p.id %>/<%= query %>/tracks" class="btn btn-light"><%= p.name %></a></td>
                            </tr>
                        <% })}else{ %>
                            <tr><td><h6>There are no playlists related to this search</h6></td></tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
            <div class="col-8">
                <div class="row">
                    <% board.forEach( b => { %>
                        <div class="col-6">
                            <div class="card">
                            <img width="100%" height="200%" src="<%= b.image %>" alt="" class="card-image overlay">
                            <div class="card-img-overlay image">
                                <h3 class="card-title text-center"><%- b.title %></h3>
                                <p class="card-text"><img width="100%" height="200%" src="<%= b.image %>" alt="" class="card-image"><%- b.content %></p>
                                <p class="card-text" style="vertical-align: middle;">
                                    <% b.tags.forEach( t => { %>
                                    <small class="text-muted"><i class="material-icons" style="margin-right:5px;">bookmark</i><%= t.tags %></small>
                                <% }) %>
                                </p>
                            </div>
                            </div>
                        </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>
</body>
</html>