<%- include('../partials/header') %>
<%- include('../partials/navbar') %>
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <h4 class="title text-center">Playlists</h4>
                <div class="my-container">
                    <% if(user){ %>
                    <% playlists.forEach( p => { %>
                        <div class="columnsPlaylists mb-2" style="padding-bottom:5vmin;">
                            <a href="/boards/<%= p.id %>/<%= query %>/tracks" class="">
                                <h4 class="playlistTitle"><%= p.name %></h4>
                            <% if(p.images[0] !== undefined){%>
                                <img width="50%" src="<%= p.images[0].url %>" alt="">
                            <% }else{ %>
                                <img width="50%" src="https://cdn1.iconfinder.com/data/icons/modifiers-add-on-1-1/48/Sed-24-512.png" alt="">
                            <% } %>
                            </a>
                        </div>
                    <% })}else{ %>
                        <tr><td><h6>There are no playlists related to this search</h6></td></tr>
                    <% } %>
                </div>
            </div>
            <div class="col-8">
                <div class="my-container">
                    <% board.forEach( b => { %>
                        <div class="columns">
                            <a href="/boards/<%= b._id %>/board">
                            <h6 class="title"><%= b.title %></h6>
                            <div class="card">
                                <div class="card-img-overlay image">
                                    <p class="card-text"><img width="100%" height="200%" src="<%= b.image %>" alt="" class="card-image"><%- b.content.substr(0,100) + '</p>' %>... click for more</p>
                                    <p class="card-text" style="vertical-align: middle;">
                                        <% b.tags.forEach( t => { %>
                                        <small class="text-muted"><i class="material-icons" style="margin-right:5px;">bookmark</i><%= t.tags %></small>
                                    <% }) %>
                                    </p>
                                </div>
                            </div>
                            </a>
                        </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>
</body>
</html>